/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
figure {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  list-style-type: none;
}

/* Variables */
:root {
  /* Colors */
  --primary-color-darkCyan: hsl(158, 36%, 37%);
  --primary-color-cream: hsl(30, 38%, 92%);
  --secondary-color-darkBlue: hsl(212, 21%, 14%);
  --secondary-color-grayishBlue: hsl(228, 12%, 48%);
  --secondary-color-white: hsl(0, 0%, 100%);

  /* Font */
  font-size: 14px;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  background-color: var(--primary-color-cream);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", "Fraunces", sans-serif;
  color: var(--secondary-color-grayishBlue);
  line-height: 1.6rem;
}

/* Fonts */
h1 {
  color: var(--secondary-color-darkBlue);
  font-family: "Fraunces", sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: 2.286rem;
  line-height: 2.3rem;
  margin-bottom: 1.429rem;
}

h2 {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.4rem;
  margin-bottom: 1.429rem;
}

.product-card {
  background-color: var(--secondary-color-white);
  width: 100%;
  max-width: 42.857rem;
  height: auto;
  margin: 2.857rem 1.429rem;
  border-radius: 1.071rem;
  display: flex;
  overflow: hidden;
}

.product-thumbnail-container {
  flex: 50%;
  margin-block: 0;
  margin-inline: 0;
}

.product-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-detail {
  flex: 50%;
  padding: 2.143rem;
}

.product-price {
  font-family: "Fraunces", sans-serif;
  margin: 2.143rem 0;
  display: flex;
  align-items: center;
  gap: 1.071rem;
}

.product-discount {
  font-size: 2.286rem;
  font-weight: var(--font-weight-bold);
  color: var(--primary-color-darkCyan);
}

.cart-btn {
  background-color: var(--primary-color-darkCyan);
  width: 100%;
  padding: 1.071rem 0;
  border: none;
  color: var(--secondary-color-white);
  border-radius: 0.714rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.714rem;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

/* .cart-btn:hover {
  background-color: hsl(158, 40%, 32%);
} */

.cart-btn:active {
  background-color: hsl(158, 50%, 23%);
}

/* Responsive for max-width: 460px  */
@media screen and (max-width: 32.857rem) {
  .product-card {
    flex-direction: column;
  }

  .product-thumbnail {
    max-height: 23.571rem;
  }
}
