/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li,
figure {
  margin: 0px;
  padding: 0px;
}

ul,
li {
  list-style-type: none;
}

/* Variables */
:root {
  /* Colors */
  --primary-color-darkCyan: hsl(158, 36%, 37%);
  --primary-color-cream: hsl(30, 38%, 92%);
  --secondary-color-darkBlue: hsl(212, 21%, 14%);
  --secondary-color-grayishBlue: hsl(228, 12%, 48%);
  --secondary-color-white: hsl(0, 0%, 100%);

  /* Font */
  font-size: 14px;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

body {
  background-color: var(--primary-color-cream);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", "Fraunces", sans-serif;
  color: var(--secondary-color-grayishBlue);
  line-height: 1.6rem;
}

/* Fonts */
h1 {
  color: var(--secondary-color-darkBlue);
  font-family: "Fraunces", sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: 2.286rem;
  line-height: 2.3rem;
  margin-bottom: 1.429rem;
}

h2 {
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.4rem;
  margin-bottom: 1.429rem;
}

.product-card {
  background-color: var(--secondary-color-white);
  width: 100%;
  max-width: 42.857rem;
  min-height: 28.571rem;
  display: flex;
  border-radius: 1.071rem;
  overflow: hidden;
}

figure {
  flex: 50%;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-detail {
  flex: 50%;
  padding: 2.143rem;
}
